.ipynb_checkpoints
.vscode
fight_image_dataset
fight-detection-surv-dataset
HockeyFights
violence_detector_model_resnet18
violence_detector_model_resnet50_original
violence_detector_model_xception
le.pickle
__pycache__
.devcontainer
/fight-detection-surv-dataset
medium_fight_dataset
models/violence_detector_model_resnet50_new
models/violence_detector_model_resnet50_new2
models/violence_detector_model_resnet50_new4
models/violence_detector_model_resnet50_new5
plots
small_fight_dataset
check_gpu.py
medium_fight_dataset.zip
fight_image_dataset.zip
small_fight_dataset.zip
model3.py
model2.ipynb
model_test.py